[Unit]
Description=SpyServer Monitor HTTP iface
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=mfratczak
ExecStart=/usr/bin/env python3 /home/mfratczak/share/spyserver/spyserver_monitor/HttpInterface.py /home/mfratczak/share/spyserver/spyserver_monitor/user.ini

[Install]
WantedBy=multi-user.target
